<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- <link rel="icon" href="favicon.ico" /> -->
    <title>Team AGV Helmet Web</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="/assets/css/simplebar.css" />
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <!-- Icons CSS -->
    <link rel="stylesheet" href="/assets/css/feather.css" />
    <link rel="stylesheet" href="/assets/css/dataTables.bootstrap4.css" />
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="/assets/css/daterangepicker.css" />
    <!-- App CSS -->
    <link rel="stylesheet" href="/assets/css/app-light.css" id="lightTheme" disabled />
    <link rel="stylesheet" href="/assets/css/app-dark.css" id="darkTheme" />
  </head>
  <body class="vertical dark" style="background-color: #ee6c6c;">
    <div class="wrapper">
      <nav class="topnav navbar navbar-light">
        <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
          <i class="fe fe-menu navbar-toggler-icon"></i>
        </button>
        <form class="form-inline mr-auto searchform text-muted">
          <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search" placeholder="Type something..." aria-label="Search" />
        </form>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="dark">
              <i class="fe fe-sun fe-16"></i>
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="avatar avatar-sm mt-2">
                <img src="/assets//assets/avatars/galih.jpg" alt="..." class="avatar-img rounded-circle" />
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item text-danger" href="#">Logout</a>
            </div>
          </li>
        </ul>
      </nav>
      <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
        <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
          <i class="fe fe-x"><span class="sr-only"></span></i>
        </a>
        <nav class="vertnav navbar navbar-light">
          <!-- nav bar -->
         <div class='w-100 mb-4 d-flex'>
            <a class='navbar-brand mx-auto mt-2 flex-fill text-center' href='/ '>
              <img src='/assets/assets/avatars/logo2.png' style='height: 50px; ;' alt='' />
            </a>
          </div>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
              <a class="nav-link" href="/">
                <span class="ml-3 item-text">Dashboard</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="/products">
                <span class="ml-3 item-text">Products</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="/teams">
                <span class="ml-3 item-text">Teams</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="mb-2 page-title">Daftar Team Kita <i class="fe fe-users fe-24"></i></h2>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-header">
                      <button type="button" class="btn mb-2 btn-primary" data-toggle="modal" data-target="#addTeamModal"><span class="fe fe-plus fe-16 mr-2"></span>Tambah</button>
                    </div>
                    <div class="card-body">
                      <!-- table -->
                      <table class="table datatables" id="teamDataTable">
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Nama</th>
                            <th>Nomor Induk Mahasiswa</th>
                            <th>Role</th>
                            <th>Perintah</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#each results}}
                          <tr>
                            <td>{{inc @index }}</td>
                            <td>{{ nama }}</td>
                            <td>{{ Nomor_Mahasiswa }}</td>
                            <td>{{ Role }}</td>
                            <td>
                                <i class="fe fe-edit text-warning mr-3 edit"
                                    data-toggle="tooltip" data-placement="bottom"
                                    data-id="{{ id_team }}" title="Edit"
                                    style="cursor: pointer;"></i>
                                <a onclick="return confirm('anda yakin ingin menghapus anggota ini?')"
                                    href="/teams/destroy/{{ id_team }}">
                                    <i class="fe fe-trash text-danger delete"
                                        data-toggle="tooltip" data-placement="bottom"
                                        title="Hapus"></i>
                                </a>
                            </td>
                          </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- simple table -->
              </div>
              <!-- end section -->
            </div>
            <!-- .col-12 -->
          </div>
          <!-- .row -->
        </div>
        <!-- .container-fluid -->
        <!-- Modal -->
        <div class="modal fade" id="addTeamModal" tabindex="-1" role="dialog" aria-labelledby="addTeamModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addTeamModalTitle">Tambah Team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <form action="/teams/save" method="post">
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="Nomor_Mahasiswa">Nomor Induk Mahasiswa</label>
                          <input type="text" class="form-control" id="Nomor_Mahasiswa" name="Nomor_Mahasiswa" />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="nama">Nama</label>
                          <input type="text" class="form-control" id="nama" name="nama" />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="Role">Peran</label>
                          <input type="text"class="form-control" name="Role" id="Role">
                        </div>
                      </div>
                  </div>
                  <!-- /. col -->
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn mb-2 btn-primary">Save</button>
              </form>
              </div>
            </div>
          </div>
        </div>
         <!-- modal edit -->
            <div class="modal fade" id="editTeamModal" tabindex="-1" role="dialog" aria-labelledby="editTeamModalTitle"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editTeamModalTitle">Edit Data Team</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                  <form action="/teams/update" method="post">
                                  <input type="hidden" name="id" id="id_team">
                                    <div class="form-row">
                                      <div class="form-group col-md-12">
                                        <label for="edit_nama">Nama</label>
                                        <input type="text" class="form-control" id="edit_nama" name="edit_nama" />
                                      </div>
                                    </div>
                                    <div class="form-row">
                                      <div class="form-group col-md-12">
                                        <label for="edit_Nomor_Mahasiswa">Nomor Mahasiswa</label>
                                        <input type="text" class="form-control" id="edit_Nomor_Mahasiswa" name="edit_Nomor_Mahasiswa" />
                                      </div>
                                    </div>
                                    <div class="form-row">
                                      <div class="form-group col-md-12">
                                        <label for="edit_Role">Role</label>
                                        <input type="text" class="form-control" id="edit_Role" name="edit_Role" />
                                      </div>
                                    </div>
                                </div>
                                <!-- /. col -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn mb-2 btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
      </main>
      <!-- main -->
    </div>
    <!-- .wrapper -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/simplebar.min.js"></script>
    <script src="/assets/js/daterangepicker.js"></script>
    <script src="/assets/js/jquery.stickOnScroll.js"></script>
    <script src="/assets/js/tinycolor-min.js"></script>
    <script src="/assets/js/config.js"></script>
    <script src="/assets/js/jquery.dataTables.min.js"></script>
    <script src="/assets/js/dataTables.bootstrap4.min.js"></script>
    <script>
       $(document).ready(function () {
            $('#teamDataTable').DataTable({
                autoWidth: true,
            });

            $('.edit').on('click', function () {
                const id = $(this).data('id');
                $.ajax({
                    url: 'http://localhost:8000/teams/' + id,
                    method: 'GET',
                    dataType: 'json',
                    success: function (val) {
                        // console.log(val);
                        $('#id_team').val(val.id_team);
                        $('#edit_nama').val(val.nama);
                        $('#edit_Nomor_Mahasiswa').val(val.Nomor_Mahasiswa);
                        $('#edit_Role').val(val.Role);
                        $('#editTeamModal').modal('show');
                    }
                });
            });
        });
    </script>
    <script src="/assets/js/apps.js"></script>
  </body>
</html>
